# LLM Provider Configuration
# Support Anthropic API or compatible providers (e.g. OpenRouter)
ANTHROPIC_API_KEY=-
MODEL_ID_CHAT=deepseek-chat
MODEL_ID_REASON=deepseek-reasoner

# Optional: custom base URL for API-compatible providers
ANTHROPIC_BASE_URL=https://api.deepseek.com/anthropic

# SerpApi  web search
SERPAPI_API_KEY=-